a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
  font: 400 18px/1.5em 'PT Sans', sans-serif;
  height: 100%;
  background: #fafafa;
  background: -moz-linear-gradient(top,  #fafafa 0%, #deb887 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#deb887));
  background: -webkit-linear-gradient(top,  #fafafa 0%,#deb887 100%);
  background: -o-linear-gradient(top,  #fafafa 0%,#deb887 100%);
  background: -ms-linear-gradient(top,  #fafafa 0%,#deb887 100%);
  background: linear-gradient(to bottom,  #fafafa 0%,#deb887 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#deb887',GradientType=0 );
  background-attachment: fixed;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

::selection { background: #ccc; }
::-moz-selection { background: #ccc; }

img {
  width: 100%;
  max-width: 1000px;
  margin: 60px 0 20px 0;
}

#wrapper {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-bottom: 100px;
}

.title, .byline {
  padding: 0 20px;
}

.title {
  margin: 60px 0 10px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1em;
  text-transform: uppercase;
  text-align: center;
}

.byline {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.need-to-know li {
  margin: 40px 0;
}

.need-to-know li h3 {
  margin: 0;
  font-weight: 700;
}

.need-to-know li p {
  font-size: 16px;
}

code, pre {
  display: block;
  background: rgba(255,255,255,0.5);
  padding: 4px 10px;
  font-family: monospace;
  font-size: 14px;
  margin: 5px 0 0 0;
}